@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#tabpanels-contents-box{
	border-width:0!important;
	margin:0!important}

#tabstrip-box{
	border:2px solid;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #893B00;
	-moz-border-bottom-colors:#EED4A2 #893B00;
	background:url(chrome://global/skin/hout-hover.png)}

#user-list-box,
#browser-box{
	border-width:0!important}

.output-container{
	margin:0!important;
	border:2px solid!important;
	-moz-border-top-colors:#B26F00 #893B00!important;
	-moz-border-left-colors:#B26F00 #893B00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important;
	border-right:0!important}

.view-button{
	min-width:15ex;
	text-align:start!important;
	list-style-image:url(chrome://global/skin/leds.png);
	-moz-image-region:rect(0,32px,16px,16px)}
.view-button[state="activity"]{-moz-image-region:rect(0,64px,16px,48px)}
.view-button[state="attention"]{color:darkred;-moz-image-region:rect(0,16px,16px,0)}
.view-button[state="superfluous"]{color:darkblue;-moz-image-region:rect(0,48px,16px,32px)}
#status-progress-bar{margin:0 2px}
#view-tabs{margin-top:-2px}

#pref-object-deck{border-width:0;background:none}