@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

listbox{
	-moz-appearance:none!important;
	border:2px solid;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
listbox[disabled="true"]{
	color:#893B00!important}

listitem{
	border:1px solid transparent;
	outline-offset:-1px;
	padding:1px 0}
listitem:hover,
listitem[selected="true"]{
	background-image:url(chrome://global/skin/hout-hover.png);
	color:black}
listbox:focus>listitem[selected="true"]{
	background-image:url(chrome://global/skin/hout-active.png);
	color:white}

listheader{
	-moz-box-align:center;
	border:1px solid;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	background-image:url(chrome://global/skin/hout.png);
	color:black}
listheader[sortable="true"]:hover{
	border-color:#EED4A2 #893B00 #893B00 #EED4A2;
	background-image:url(chrome://global/skin/hout-hover.png);
	color:black}
listheader[sortable="true"]:hover:active{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	background-image:url(chrome://global/skin/hout-active.png);
	color:white}

.listheader-icon[src]{-moz-margin-end:2px}
.listheader-label{margin:0!important}

.listheader-sortdirection{list-style-image:none}

.listheader-sortdirection[sortdirection="ascending"]{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(0 48px 12px 36px)}
.listheader-sortdirection[sortdirection="descending"]{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(0 48px 12px 36px)}

.listcell-label{white-space:nowrap}

.listcell-check{
	list-style-image:url(chrome://global/skin/checkbox.png);
	-moz-image-region:rect(14px 14px 28px 0)}
.listcell-check[disabled="true"]{-moz-image-region:rect(14px 28px 28px 14px)}
.listcell-check[checked="true"]{-moz-image-region:rect(0 14px 14px 0)}
.listcell-check[checked="true"][disabled="true"]{-moz-image-region:rect(0 28px 14px 14px)}
