@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

notification{
	text-shadow:none;
	border-bottom:1px solid #B26F00;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
notification[type="info"]{
	background-image:url(chrome://global/skin/hout.png);
	color:black}
notification[type="critical"]{
	color:darkred}

.messageImage{
	list-style-image:url(chrome://global/skin/icons/warning-16.png)!important;
	-moz-margin-start:3px}
.messageText{-moz-margin-start:3px;font-weight:bold}
.messageButton{margin:1px;padding:0}

.popup-notification-closeitem,
.messageCloseButton{
	margin:1px;
	padding:0;
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
.popup-notification-closeitem:hover,
.messageCloseButton:hover{
	-moz-image-region:rect(225px 31px 239px 17px)!important}
.popup-notification-closeitem:hover:active,
.messageCloseButton:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)!important}
.messageCloseButton>.toolbarbutton-text{display:none}

notification[type="info"] .messageImage{list-style-image:url(chrome://global/skin/icons/information-16.png)!important}
notification[type="warning"] .messageImage{list-style-image:url(chrome://global/skin/icons/warning-16.png)!important}
notification[type="critical"] .messageImage{list-style-image:url(chrome://global/skin/icons/error-16.png)!important}

.popup-notification-description{max-width:24em}

#sync-notifications>notification{
	border:1px solid;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	border-radius:7px}

image.keeFoxNotificationImage[src]{margin:0!important}
description.keefoxMessageText[value]{margin:3px!important}

.keeFoxNotificationButtons toolbarbutton.menuitem-iconic[label]{
	-moz-appearance:none!important;
	height:auto!important;
	min-height:1px!important;
	color:inherit!important}