@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#handlersView{
	border-left-width:0;
	border-right-width:0;
	border-radius:0}
#MailPreferences[animated="true"] #handlersView{height:25em}
#MailPreferences:not([animated="true"]) #handlersView{-moz-box-flex:1}

richlistbox:focus .shortDetails.selected{color:inherit}

richlistitem{
	padding:0;
	margin:0;
	box-shadow:none;
	border-width:0!important;
	border-radius:0!important;
	border-bottom:1px solid #B36F00!important;
	background-image:none}
.typeIcon{margin:1px}
.actionsMenu{margin:0}
.actionIcon{margin:3px}
.actionIcon+label{margin:2px 0}
.actionsMenu .menulist-icon{margin:1px;padding:0;width:16px;height:16px;-moz-margin-end:3px}

menuitem[oncommand^=gApplic]{
	list-style-image:url(chrome://global/skin/icons/applications.png);
	-moz-image-region:rect(0,32px,16px,16px)}

richlistitem[appHandlerIcon=ask],
menuitem[appHandlerIcon=ask]{
	list-style-image:url(chrome://global/skin/icons/applications.png);
	-moz-image-region:rect(0,16px,16px,0)}

richlistitem[appHandlerIcon=save],
menuitem[appHandlerIcon=save]{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(368px,16px,384px,0)}

richlistitem[appHandlerIcon=plugin],
menuitem[appHandlerIcon=plugin]{
	list-style-image:url(chrome://global/skin/icons/applications.png);
	-moz-image-region:rect(0,48px,16px,32px)}

richlistitem[appHandlerIcon=feed],
menuitem[appHandlerIcon=feed]{
	list-style-image:url(chrome://global/skin/icons/applications.png);
	-moz-image-region:rect(0,64px,16px,48px)}

.shortDetails{text-align:right;color:#893B00}

menuitem[label*="Thunderbird"]{
	list-style-image:url(chrome://global/skin/icons/applications.png);
	-moz-image-region:rect(0,80px,16px,64px)}

/*BigFile*/
.cloudfileAccount .typeIcon{
	height:16px;
	width:16px}

#authMessage{
	text-align:center;
	padding:0 80px}

richlistitem.cloudfileAccount[state=connecting],
richlistitem.cloudfileAccount[state=waiting-to-connect],
#cloudFileLoadingSpinner{
	list-style-image:url(chrome://global/skin/icons/loading_16.png)}
richlistitem.cloudfileAccount[state=auth-error],
richlistitem.cloudfileAccount[state=no-connection]{
	list-style-image:url(chrome://global/skin/icons/error-16.png)!important}
#authImage{
	list-style-image:url(chrome://messenger/skin/preferences/auth-error.png)}
