@import url(chrome://messenger/content/messenger.css);
@import url(chrome://global/skin/);
@import url(chrome://editor/skin/editorFormatToolbar.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#menu_NewMessage{
	list-style-image:url(chrome://messenger/skin/primaryToolbar.png);
	-moz-image-region:rect(0 32px 16px 16px)}
#menu_NewContact{
	list-style-image:url(chrome://messenger/skin/primaryToolbar.png);
	-moz-image-region:rect(0 192px 16px 176px)}
#tasksMenuAddressBook{
	list-style-image:url(chrome://messenger/skin/primaryToolbar.png);
	-moz-image-region:rect(0 128px 16px 112px)}

#MsgHeadersToolbar{
	min-height:132px;
	-moz-box-align:stretch;
	background-image:none}

#addressingWidget,
#attachmentBucket,
#appcontent{
	border:2px solid;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00}

.ab-closebutton>.toolbarbutton-text,
#attachmentBucketText{display:none}

#FormatToolbox{border-bottom:1px solid #B26F00}

#msgIdentity{
	margin:0 0 2px 2px!important}
#msgSubject{margin:2px 0 0 2px!important}

#button-send{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0,24px,24px,0)}
#button-contacts,
#button-address{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0,48px,24px,24px)}
#button-attach{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0,72px,24px,48px)}
#quoteButton,
#button-quote{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0,96px,24px,72px)}
#spellingButton{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0,120px,24px,96px)}
#button-save{
	list-style-image:url(chrome://messenger/skin/primaryToolbar24.png);
	-moz-image-region:rect(0,144px,24px,120px)}
#button-stop{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(144px,24px,168px,0)}
#cut-button{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(192px,24px,216px,0)}
#copy-button{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(216px,24px,240px,0)}
#paste-button{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(240px,24px,264px,0)}

#menu-item-send-now,
toolbar[iconsize="small"] #button-send{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,16px,16px,0)}
toolbar[iconsize="small"] #button-contacts,
toolbar[iconsize="small"] #button-address{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,32px,16px,16px)}
menuitem[key="attachFile"],
toolbar[iconsize="small"] #button-attach{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,48px,16px,32px)}
menuitem[command="cmd_quoteMessage"],
#menu_pasteQuote,
toolbar[iconsize="small"] #quoteButton,
toolbar[iconsize="small"] #button-quote{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,64px,16px,48px)}
#menu_checkspelling,
toolbar[iconsize="small"] #spellingButton{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,80px,16px,64px)}
toolbar[iconsize="small"] #button-save{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(368px,16px,384px,0)}
toolbar[iconsize="small"] #button-stop{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(16px,16px,32px,0)}
toolbar[iconsize="small"] #cut-button{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(320px,16px,336px,0)}
toolbar[iconsize="small"] #copy-button{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(336px,16px,352px,0)}
toolbar[iconsize="small"] #paste-button{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(352px,16px,368px,0)}
#menu_viewSecurityStatus{	
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0,96px,16px,80px)}


.ab-closebutton{
	border-radius:7px;
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
.ab-closebutton:hover{
	-moz-image-region:rect(225px 31px 239px 17px)!important}
.ab-closebutton:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)!important}

treechildren::-moz-tree-cell-text(default-match){
	list-style-image:url(chrome://messenger/skin/addressbook/addressbook.png);
	-moz-image-region:rect(0,16px,16px,0)}
treechildren::-moz-tree-image(local-abook){
	list-style-image:url(chrome://messenger/skin/addressbook/addressbook.png);
	-moz-image-region:rect(0,64px,16px,48px)}
treechildren::-moz-tree-image(remote-abook){
	list-style-image:url(chrome://messenger/skin/addressbook/addressbook.png);
	-moz-image-region:rect(0,80px,16px,64px)}
treechildren::-moz-tree-image(remote-err){
	list-style-image:url(chrome://messenger/skin/addressbook/addressbook.png);
	-moz-image-region:rect(16px,80px,32px,64px)}

.identity-popup-item{
	-moz-binding:url(chrome://messenger/content/messengercompose/mailComposeBindings.xml#fromMenuitem)}
.composemenu-text{
	min-width:24em}
.composemenu-text-2{
	font-style:italic;
	font-weight:bold;
	color:#893B00;
	border-left:2px solid;
	-moz-border-left-colors:#B26F00 #893B00}

#addressingWidget{
	-moz-user-focus:none;
	background-image:url(chrome://global/skin/hout.png)}
.aw-menulist{
	min-width:9em;
	border-radius:0!important}
.aw-menulist>menupopup>menuitem{
	padding:0!important}
.aw-menulist>.menulist-label,
.aw-menulist .menu-iconic-text{
	padding:0 2px!important;
	text-align:right}
.dummy-row-cell,.addressingWidgetItem,.dummy-row{
	background:transparent none!important;
	color:black!important;
	padding:0!important;
	border:0!important}

.textbox-addressingWidget{
	padding:1px;
	border-bottom-width:1px!important;
	-moz-border-bottom-colors:#B26F00!important;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
.person-icon{
	list-style-image:url(chrome://messenger/skin/addressbook/icons/abcard.png);
	-moz-transform:scale(.75)}

#attachmentBucket{
	min-width:10em;
	-moz-appearance:none!important;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

#attachmentBucketSize{
	-moz-box-flex:1;
	-moz-margin-end:6px;
	text-align:end;
	opacity:.7}

attachmentitem{
	padding:2px}
attachmentitem:hover{
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:black!important}
attachmentitem[selected="true"],
attachmentlist:focus>attachmentitem[current="true"]{
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}

.attachmentcell-size{
	margin:0 1px;
	opacity:.7}

.closebutton[onclick]{
	padding:0!important;
	border-radius:3px;
	border:1px solid transparent!important;
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
.closebutton[onclick]:hover{
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2!important;
	box-shadow:1px 1px 2px threedshadow;
	-moz-image-region:rect(225px 31px 239px 17px)!important;
	background-image:url(chrome://global/skin/hout-hover.png)}
.closebutton[onclick]:hover:active{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00!important;
	box-shadow:inset 1px 1px 2px threedshadow;
	-moz-image-region:rect(113px 31px 127px 17px)!important;
	background-image:url(chrome://global/skin/hout-active.png)}
