@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.cs-closebutton{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(224px 32px 240px 16px)}

#collapsedContactsView,
#expandedContactsView{
	min-width:1px;
	margin-right:0}

.expandContactsViewButton{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(0 25px 12px 13px)}
.collapsedContactsViewButton{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(0 12px 12px 0)}

#searchInput[searchCriteria="true"]{color:grey}

#search-button{width:18px;height:18px}
.search-button-image{
	margin:1px;
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(64px 16px 80px 0)}
#search-button:hover .search-button-dropmarker{
	margin:9px 0 0 10px;
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(10px 59px 19px 51px)}
.search-clearbutton{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(224px 32px 240px 16px);
	border:transparent!important}
.search-clearbutton[clearButtonHidden="true"]{visibility:hidden}
