#calendar-event-dialog-attendees-v2>hbox+hbox>vbox{
	min-width:15em;
	border:2px solid;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00}
#splitter,
#calendar-event-dialog-attendees-v2>hbox+hbox+hbox>vbox{border:0!important}
#vertical-scrollbar{min-width:14px}

#item-attendees,
#item-attendees>box{-moz-box-flex:1}

#button-attendees{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0 48px 24px 24px)}
#button-url{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0 72px 24px 48px)}
#button-spellcheck{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0 120px 24px 96px)}
#button-privacy{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose24.png);
	-moz-image-region:rect(0 144px 24px 120px)}

toolbar[iconsize="small"] #button-attendees{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0 32px 16px 16px)}
toolbar[iconsize="small"] #button-url{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0 48px 16px 32px)}
toolbar[iconsize="small"] #button-spellcheck{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0 80px 16px 64px)}
toolbar[iconsize="small"] #button-privacy{
	list-style-image:url(chrome://messenger/skin/messengercompose/messengercompose.png);
	-moz-image-region:rect(0 96px 16px 80px)}

#event-grid{
	min-width:1px;
	padding:4px 0 0 4px!important}

row>label{margin:1px}

#sun-calendar-event-dialog-attendees,
#calendar-event-dialog-attendees-v2{
	min-width:1px;
	padding:0!important}

#previous-slot{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(192px 16px 208px 0)}
#next-slot{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(208px 16px 224px 0)}
#button-question{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(240px 16px 256px 0)}

#button-file,
#button-save{
	list-style-image:url(chrome://messenger/skin/primaryToolbar24.png);
	-moz-image-region:rect(0 144px 24px 120px)}
#button-print{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(120px 24px 144px 0)}
#button-delete{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(312px 24px 336px 0)}

toolbar[iconsize="small"] #button-file,
toolbar[iconsize="small"] #button-save{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(368px 16px 384px 0)}
toolbar[iconsize="small"] #button-print{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(304px 16px 320px 0)}
toolbar[iconsize="small"] #button-delete{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(272px 16px 288px 0)}

.cal-statusbar-1{
	list-style-image:url(chrome://calendar/skin/calendar-event-dialog.png)}
#button-privacy-public{-moz-image-region:rect(0 24px 16px 0)}
#button-privacy-private{-moz-image-region:rect(0 48px 16px 24px)}
#button-privacy-confidential{-moz-image-region:rect(0 72px 16px 48px)}
#button-importance-low{-moz-image-region:rect(0 88px 16px 72px)}
#button-importance-medium{-moz-image-region:rect(0 104px 16px 88px)}
#button-importance-high{-moz-image-region:rect(0 120px 16px 104px)}

#preview-border{border:none;padding:0}
#attendees-list{
	min-width:4em;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
#calendar-summary-dialog{min-width:35em}
.headline{font-weight:bold}	
.headline[align=end],
.headline[align=right]{text-align:right}
.default-spacer{width:1em;height:1em}
.default-indent{-moz-margin-start:1.5em}
#freebusy-grid,
#freebusy-grid>listbox{
	min-width:23em!important;
	min-height:10em!important}

#item-attendee-listbox[disabled="true"],
.listbox-noborder[disabled="true"]{
	background-image:url(chrome://global/skin/backarea.png)!important;
	color:black!important}

#preview-border,
#preview-border>.groupbox-body{margin:0!important}
#recurrence-preview minimonth{margin:1px}

#calendar-event-dialog,
#calendar-task-dialog{
	padding:0}

#yearly-period-of-label,
label.label{
	text-align:right}

#item-calendar,
#item-categories,
#item-repeat,
#item-alarm,
.datepicker-text-class{
	min-width:12em}

.listbox-noborder{
	border:0}

.selection-bar{
	background-color:#008080;
	opacity:0.2;
	border-top-left-radius:10px;
	border-top-right-radius:10px}

.freebusy-container,
.freebusy-content{
	overflow:hidden;
	clip:rect(0,0,0,0)}

.freebusy-timebar-title{-moz-margin-end:1px}
.freebusy-timebar-hour{-moz-margin-end:1px;margin-bottom:5px}

.freebusy-grid{
	border-right:1px solid #B26F00;
	background-color:#E09EBD;color:#E09EBD;
	min-height:20px!important}

.legend{
	width:3em;
	height:1em;
	background-color:#E09EBD;color:#E09EBD;
	border:1px solid;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00}

.freebusy-grid[state="free"],
.legend[status="FREE"]{background-color:#EBEBE4;color:#EBEBE4}
.freebusy-grid[state="busy"],
.legend[status="BUSY"]{background-color:#153E7E;color:#153E7E}
.freebusy-grid[state="busy_tentative"],
.legend[status="BUSY_TENTATIVE"]{background-color:#1589FF;color:#1589FF}
.freebusy-grid[state="busy_unavailable"],
.legend[status="BUSY_UNAVAILABLE"]{background-color:#4E387E;color:#4E387E}

#addressingWidget{-moz-user-focus:none}

#typecol-addressingWidget{
	min-width:9em;
	border-right:1px solid #B26F00}

.addressingWidgetItem,
.dummy-row{
	border-width:0;
	border-bottom:1px solid #B26F00;
	background-color:inherit!important;
	color:inherit!important;
	min-height:23px!important}

.status-icon,.role-icon{
	margin:0 1px;
	list-style-image:url(chrome://calendar/skin/calendar-event-dialog-attendees.png);
	-moz-image-region:rect(0 159px 16px 138px)}
.role-icon[disabled="true"],
.status-icon[disabled="true"]{
	opacity:.7;
	filter:url(chrome://global/skin/greyscale.svg#greyscale)}
.status-icon{-moz-image-region:rect(0 36px 14px 24px)}
.status-icon[status="ACCEPTED"]{-moz-image-region:rect(0 12px 14px 0)}
.status-icon[status="DECLINED"]{-moz-image-region:rect(0 24px 14px 12px)}
.status-icon[status="TENTATIVE"]{-moz-image-region:rect(0 48px 14px 36px)}
.role-icon[role="OPT-PARTICIPANT"]{-moz-image-region:rect(0 180px 16px 159px)}
.role-icon[role="CHAIR"]{-moz-image-region:rect(0 201px 16px 180px)}

#zoom-in-button,#zoom-out-button{
	margin:1px;
	padding:2px;
	border-radius:1000px;
	-moz-outline-radius:1000px;
	background-image:url(chrome://global/skin/hout.png);
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(40px 36px 48px 28px)}
#zoom-out-button{
	-moz-image-region:rect(32px 36px 40px 28px)}

#timezone-starttime,
#timezone-endtime{
	text-decoration:none!important;
	margin:0 2px;
	padding:1px 2px!important}

#timezone-starttime,
#timezone-endtime,
#zoom-in-button,
#zoom-out-button,
#zoom-menulist,
#previous-slot:not(:hover),
#next-slot:not(:hover){
	border:2px solid;
	-moz-border-top-colors:#B26F00 #EED4A2;
	-moz-border-left-colors:#B26F00 #EED4A2;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00;
	background-image:url(chrome://global/skin/hout.png);
	color:ButtonText}

#zoom-menulist:hover:not([disabled="true"]),
#zoom-in-button:hover:not([disabled="true"]),
#zoom-out-button:hover:not([disabled="true"]),
#timezone-starttime:hover:not([disabled]),
#timezone-endtime:hover:not([disabled]){
	-moz-border-right-colors:#893B00 #B26F00;
	-moz-border-bottom-colors:#893B00 #B26F00;
	background-image:url(chrome://global/skin/hout-hover.png);
	color:black}

#timezone-starttime:focus,
#timezone-endtime:focus{
	outline:1px solid #9999CC}

#timezone-starttime:hover:active:not([disabled]),
#timezone-endtime:hover:active:not([disabled]){
	-moz-border-top-colors:#B26F00 #B26F00;
	-moz-border-left-colors:#B26F00 #B26F00;
	-moz-border-right-colors:#893B00 #EED4A2;
	-moz-border-bottom-colors:#893B00 #EED4A2;
	background-image:url(chrome://global/skin/hout-active.png);
	color:white}

#timezone-starttime[disabled="true"],
#timezone-endtime[disabled="true"]{
	text-shadow:1px 1px 0 #EED4A2!important;
	background:transparent none!important;
	color:#B26F00!important}

#previous-slot[disabled="true"],
#next-slot[disabled="true"]{
	-moz-border-right-colors:#EED4A2 #B26F00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important}

#content-frame{
	border-left:1px solid #893B00;
	border-right:1px solid #EED4A2;
	min-width:10px;
	min-height:10px;
	height:400px}

.attendees-list-listbox>listboxbody{overflow-y:hidden!important}
.selection-bar-left{width:3px;cursor:w-resize}
.selection-bar-right{width:3px;cursor:e-resize}
.selection-bar-spacer{cursor:-moz-grab}

calendar-caption>.header{
	margin:2px;
	padding:2px 5px;
	border-radius:8px;
	border:1px solid;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	box-shadow:1px 1px 2px #B26F00;
	font-weight:bold}

#keepduration-button{
	list-style-image:url(chrome://calendar/skin/event-dialog-keepduration-button.png);
	-moz-image-region:rect(0 14px 24px 7px);
	padding:1px 2px;
	margin:0 6px -12px 1px;
	position:relative;
	-moz-user-focus:normal;
	background-size:cover}

#event-grid-startdate-picker-box{-moz-box-align:center}
#keepduration-button[keep="true"]{-moz-image-region:rect(0 7px 24px 0)}

.checkbox-no-label>.checkbox-label-box,
#keepduration-button>label{
	display:none}

.keepduration-link-image{
	list-style-image:url(chrome://calendar/skin/event-dialog-keepduration-button.png)}
#link-image-top{-moz-image-region:rect(7px 23px 14px 14px);margin-top:6px}
#link-image-top[keep="true"]{-moz-image-region:rect(0 23px 7px 14px)}
#link-image-bottom{-moz-image-region:rect(14px 23px 21px 14px);margin-bottom:4px}

#timezone-endtime{-moz-margin-start:15px}

.addressingWidgetCell>.textbox-addressingWidget[disabled="true"]{
	color:black}

#item-description{margin:0}