.tagvalue,.tag,menuitem[class^="lc-"]>.menu-iconic-text{
	border-radius:9px 0 9px 0;
	box-shadow:1.5px 0.5px 1px #893B00;
	padding:1px 5px;
	margin:1px;
	-moz-margin-end:3px;
	color:white!important;
	font-size:85%;
	font-weight:bold;
	text-shadow:0 0 2px rgba(0,0,0,0.8)}

treechildren::-moz-tree-cell-text(lc-FFFFFF){color:#FFFFFF}
treechildren::-moz-tree-row(lc-FFFFFF,selected,focus),.blc-FFFFFF,.lc-FFFFFF>.menu-iconic-text{background-color:#FFFFFF}
treechildren::-moz-tree-cell-text(lc-CCCCCC){color:#CCCCCC}
treechildren::-moz-tree-row(lc-CCCCCC,selected,focus),.blc-CCCCCC,.lc-CCCCCC>.menu-iconic-text{background-color:#CCCCCC}
treechildren::-moz-tree-cell-text(lc-C0C0C0){color:#C0C0C0}
treechildren::-moz-tree-row(lc-C0C0C0,selected,focus),.blc-C0C0C0,.lc-C0C0C0>.menu-iconic-text{background-color:#C0C0C0}
treechildren::-moz-tree-cell-text(lc-999999){color:#999999}
treechildren::-moz-tree-row(lc-999999,selected,focus),.blc-999999,.lc-999999>.menu-iconic-text{background-color:#999999}
treechildren::-moz-tree-cell-text(lc-666666){color:#666666}
treechildren::-moz-tree-row(lc-666666,selected,focus),.blc-666666,.lc-666666>.menu-iconic-text{background-color:#666666}
treechildren::-moz-tree-cell-text(lc-333333){color:#333333}
treechildren::-moz-tree-row(lc-333333,selected,focus),.blc-333333,.lc-333333>.menu-iconic-text{background-color:#333333}
treechildren::-moz-tree-cell-text(lc-000000){color:#000000}
treechildren::-moz-tree-row(lc-000000,selected,focus),.blc-000000,.lc-000000>.menu-iconic-text{background-color:#000000}
treechildren::-moz-tree-cell-text(lc-FFCCCC){color:#FFCCCC}
treechildren::-moz-tree-row(lc-FFCCCC,selected,focus),.blc-FFCCCC,.lc-FFCCCC>.menu-iconic-text{background-color:#FFCCCC}
treechildren::-moz-tree-cell-text(lc-FF6666){color:#FF6666}
treechildren::-moz-tree-row(lc-FF6666,selected,focus),.blc-FF6666,.lc-FF6666>.menu-iconic-text{background-color:#FF6666}
treechildren::-moz-tree-cell-text(lc-FF0000){color:#FF0000}
treechildren::-moz-tree-row(lc-FF0000,selected,focus),.blc-FF0000,.lc-FF0000>.menu-iconic-text{background-color:#FF0000}
treechildren::-moz-tree-cell-text(lc-CC0000){color:#CC0000}
treechildren::-moz-tree-row(lc-CC0000,selected,focus),.blc-CC0000,.lc-CC0000>.menu-iconic-text{background-color:#CC0000}
treechildren::-moz-tree-cell-text(lc-990000){color:#990000}
treechildren::-moz-tree-row(lc-990000,selected,focus),.blc-990000,.lc-990000>.menu-iconic-text{background-color:#990000}
treechildren::-moz-tree-cell-text(lc-660000){color:#660000}
treechildren::-moz-tree-row(lc-660000,selected,focus),.blc-660000,.lc-660000>.menu-iconic-text{background-color:#660000}
treechildren::-moz-tree-cell-text(lc-330000){color:#330000}
treechildren::-moz-tree-row(lc-330000,selected,focus),.blc-330000,.lc-330000>.menu-iconic-text{background-color:#330000}
treechildren::-moz-tree-cell-text(lc-FFCC99){color:#FFCC99}
treechildren::-moz-tree-row(lc-FFCC99,selected,focus),.blc-FFCC99,.lc-FFCC99>.menu-iconic-text{background-color:#FFCC99}
treechildren::-moz-tree-cell-text(lc-FF9966){color:#FF9966}
treechildren::-moz-tree-row(lc-FF9966,selected,focus),.blc-FF9966,.lc-FF9966>.menu-iconic-text{background-color:#FF9966}
treechildren::-moz-tree-cell-text(lc-FF9900){color:#FF9900}
treechildren::-moz-tree-row(lc-FF9900,selected,focus),.blc-FF9900,.lc-FF9900>.menu-iconic-text{background-color:#FF9900}
treechildren::-moz-tree-cell-text(lc-FF6600){color:#FF6600}
treechildren::-moz-tree-row(lc-FF6600,selected,focus),.blc-FF6600,.lc-FF6600>.menu-iconic-text{background-color:#FF6600}
treechildren::-moz-tree-cell-text(lc-CC6600){color:#CC6600}
treechildren::-moz-tree-row(lc-CC6600,selected,focus),.blc-CC6600,.lc-CC6600>.menu-iconic-text{background-color:#CC6600}
treechildren::-moz-tree-cell-text(lc-993300){color:#993300}
treechildren::-moz-tree-row(lc-993300,selected,focus),.blc-993300,.lc-993300>.menu-iconic-text{background-color:#993300}
treechildren::-moz-tree-cell-text(lc-663300){color:#663300}
treechildren::-moz-tree-row(lc-663300,selected,focus),.blc-663300,.lc-663300>.menu-iconic-text{background-color:#663300}
treechildren::-moz-tree-cell-text(lc-FFFF99){color:#FFFF99}
treechildren::-moz-tree-row(lc-FFFF99,selected,focus),.blc-FFFF99,.lc-FFFF99>.menu-iconic-text{background-color:#FFFF99}
treechildren::-moz-tree-cell-text(lc-FFFF66){color:#FFFF66}
treechildren::-moz-tree-row(lc-FFFF66,selected,focus),.blc-FFFF66,.lc-FFFF66>.menu-iconic-text{background-color:#FFFF66}
treechildren::-moz-tree-cell-text(lc-FFCC66){color:#FFCC66}
treechildren::-moz-tree-row(lc-FFCC66,selected,focus),.blc-FFCC66,.lc-FFCC66>.menu-iconic-text{background-color:#FFCC66}
treechildren::-moz-tree-cell-text(lc-FFCC33){color:#FFCC33}
treechildren::-moz-tree-row(lc-FFCC33,selected,focus),.blc-FFCC33,.lc-FFCC33>.menu-iconic-text{background-color:#FFCC33}
treechildren::-moz-tree-cell-text(lc-CC9933){color:#CC9933}
treechildren::-moz-tree-row(lc-CC9933,selected,focus),.blc-CC9933,.lc-CC9933>.menu-iconic-text{background-color:#CC9933}
treechildren::-moz-tree-cell-text(lc-996633){color:#996633}
treechildren::-moz-tree-row(lc-996633,selected,focus),.blc-996633,.lc-996633>.menu-iconic-text{background-color:#996633}
treechildren::-moz-tree-cell-text(lc-663333){color:#663333}
treechildren::-moz-tree-row(lc-663333,selected,focus),.blc-663333,.lc-663333>.menu-iconic-text{background-color:#663333}
treechildren::-moz-tree-cell-text(lc-FFFFCC){color:#FFFFCC}
treechildren::-moz-tree-row(lc-FFFFCC,selected,focus),.blc-FFFFCC,.lc-FFFFCC>.menu-iconic-text{background-color:#FFFFCC}
treechildren::-moz-tree-cell-text(lc-FFFF33){color:#FFFF33}
treechildren::-moz-tree-row(lc-FFFF33,selected,focus),.blc-FFFF33,.lc-FFFF33>.menu-iconic-text{background-color:#FFFF33}
treechildren::-moz-tree-cell-text(lc-FFFF00){color:#FFFF00}
treechildren::-moz-tree-row(lc-FFFF00,selected,focus),.blc-FFFF00,.lc-FFFF00>.menu-iconic-text{background-color:#FFFF00}
treechildren::-moz-tree-cell-text(lc-FFCC00){color:#FFCC00}
treechildren::-moz-tree-row(lc-FFCC00,selected,focus),.blc-FFCC00,.lc-FFCC00>.menu-iconic-text{background-color:#FFCC00}
treechildren::-moz-tree-cell-text(lc-999900){color:#999900}
treechildren::-moz-tree-row(lc-999900,selected,focus),.blc-999900,.lc-999900>.menu-iconic-text{background-color:#999900}
treechildren::-moz-tree-cell-text(lc-666600){color:#666600}
treechildren::-moz-tree-row(lc-666600,selected,focus),.blc-666600,.lc-666600>.menu-iconic-text{background-color:#666600}
treechildren::-moz-tree-cell-text(lc-333300){color:#333300}
treechildren::-moz-tree-row(lc-333300,selected,focus),.blc-333300,.lc-333300>.menu-iconic-text{background-color:#333300}
treechildren::-moz-tree-cell-text(lc-99FF99){color:#99FF99}
treechildren::-moz-tree-row(lc-99FF99,selected,focus),.blc-99FF99,.lc-99FF99>.menu-iconic-text{background-color:#99FF99}
treechildren::-moz-tree-cell-text(lc-66FF99){color:#66FF99}
treechildren::-moz-tree-row(lc-66FF99,selected,focus),.blc-66FF99,.lc-66FF99>.menu-iconic-text{background-color:#66FF99}
treechildren::-moz-tree-cell-text(lc-33FF33){color:#33FF33}
treechildren::-moz-tree-row(lc-33FF33,selected,focus),.blc-33FF33,.lc-33FF33>.menu-iconic-text{background-color:#33FF33}
treechildren::-moz-tree-cell-text(lc-33CC00){color:#33CC00}
treechildren::-moz-tree-row(lc-33CC00,selected,focus),.blc-33CC00,.lc-33CC00>.menu-iconic-text{background-color:#33CC00}
treechildren::-moz-tree-cell-text(lc-009900){color:#009900}
treechildren::-moz-tree-row(lc-009900,selected,focus),.blc-009900,.lc-009900>.menu-iconic-text{background-color:#009900}
treechildren::-moz-tree-cell-text(lc-006600){color:#006600}
treechildren::-moz-tree-row(lc-006600,selected,focus),.blc-006600,.lc-006600>.menu-iconic-text{background-color:#006600}
treechildren::-moz-tree-cell-text(lc-003300){color:#003300}
treechildren::-moz-tree-row(lc-003300,selected,focus),.blc-003300,.lc-003300>.menu-iconic-text{background-color:#003300}
treechildren::-moz-tree-cell-text(lc-99FFFF){color:#99FFFF}
treechildren::-moz-tree-row(lc-99FFFF,selected,focus),.blc-99FFFF,.lc-99FFFF>.menu-iconic-text{background-color:#99FFFF}
treechildren::-moz-tree-cell-text(lc-33FFFF){color:#33FFFF}
treechildren::-moz-tree-row(lc-33FFFF,selected,focus),.blc-33FFFF,.lc-33FFFF>.menu-iconic-text{background-color:#33FFFF}
treechildren::-moz-tree-cell-text(lc-66CCCC){color:#66CCCC}
treechildren::-moz-tree-row(lc-66CCCC,selected,focus),.blc-66CCCC,.lc-66CCCC>.menu-iconic-text{background-color:#66CCCC}
treechildren::-moz-tree-cell-text(lc-00CCCC){color:#00CCCC}
treechildren::-moz-tree-row(lc-00CCCC,selected,focus),.blc-00CCCC,.lc-00CCCC>.menu-iconic-text{background-color:#00CCCC}
treechildren::-moz-tree-cell-text(lc-339999){color:#339999}
treechildren::-moz-tree-row(lc-339999,selected,focus),.blc-339999,.lc-339999>.menu-iconic-text{background-color:#339999}
treechildren::-moz-tree-cell-text(lc-336666){color:#336666}
treechildren::-moz-tree-row(lc-336666,selected,focus),.blc-336666,.lc-336666>.menu-iconic-text{background-color:#336666}
treechildren::-moz-tree-cell-text(lc-003333){color:#003333}
treechildren::-moz-tree-row(lc-003333,selected,focus),.blc-003333,.lc-003333>.menu-iconic-text{background-color:#003333}
treechildren::-moz-tree-cell-text(lc-CCFFFF){color:#CCFFFF}
treechildren::-moz-tree-row(lc-CCFFFF,selected,focus),.blc-CCFFFF,.lc-CCFFFF>.menu-iconic-text{background-color:#CCFFFF}
treechildren::-moz-tree-cell-text(lc-66FFFF){color:#66FFFF}
treechildren::-moz-tree-row(lc-66FFFF,selected,focus),.blc-66FFFF,.lc-66FFFF>.menu-iconic-text{background-color:#66FFFF}
treechildren::-moz-tree-cell-text(lc-33CCFF){color:#33CCFF}
treechildren::-moz-tree-row(lc-33CCFF,selected,focus),.blc-33CCFF,.lc-33CCFF>.menu-iconic-text{background-color:#33CCFF}
treechildren::-moz-tree-cell-text(lc-3366FF){color:#3366FF}
treechildren::-moz-tree-row(lc-3366FF,selected,focus),.blc-3366FF,.lc-3366FF>.menu-iconic-text{background-color:#3366FF}
treechildren::-moz-tree-cell-text(lc-3333FF){color:#3333FF}
treechildren::-moz-tree-row(lc-3333FF,selected,focus),.blc-3333FF,.lc-3333FF>.menu-iconic-text{background-color:#3333FF}
treechildren::-moz-tree-cell-text(lc-000099){color:#000099}
treechildren::-moz-tree-row(lc-000099,selected,focus),.blc-000099,.lc-000099>.menu-iconic-text{background-color:#000099}
treechildren::-moz-tree-cell-text(lc-000066){color:#000066}
treechildren::-moz-tree-row(lc-000066,selected,focus),.blc-000066,.lc-000066>.menu-iconic-text{background-color:#000066}
treechildren::-moz-tree-cell-text(lc-CCCCFF){color:#CCCCFF}
treechildren::-moz-tree-row(lc-CCCCFF,selected,focus),.blc-CCCCFF,.lc-CCCCFF>.menu-iconic-text{background-color:#CCCCFF}
treechildren::-moz-tree-cell-text(lc-9999FF){color:#9999FF}
treechildren::-moz-tree-row(lc-9999FF,selected,focus),.blc-9999FF,.lc-9999FF>.menu-iconic-text{background-color:#9999FF}
treechildren::-moz-tree-cell-text(lc-6666CC){color:#6666CC}
treechildren::-moz-tree-row(lc-6666CC,selected,focus),.blc-6666CC,.lc-6666CC>.menu-iconic-text{background-color:#6666CC}
treechildren::-moz-tree-cell-text(lc-6633FF){color:#6633FF}
treechildren::-moz-tree-row(lc-6633FF,selected,focus),.blc-6633FF,.lc-6633FF>.menu-iconic-text{background-color:#6633FF}
treechildren::-moz-tree-cell-text(lc-6600CC){color:#6600CC}
treechildren::-moz-tree-row(lc-6600CC,selected,focus),.blc-6600CC,.lc-6600CC>.menu-iconic-text{background-color:#6600CC}
treechildren::-moz-tree-cell-text(lc-333399){color:#333399}
treechildren::-moz-tree-row(lc-333399,selected,focus),.blc-333399,.lc-333399>.menu-iconic-text{background-color:#333399}
treechildren::-moz-tree-cell-text(lc-330099){color:#330099}
treechildren::-moz-tree-row(lc-330099,selected,focus),.blc-330099,.lc-330099>.menu-iconic-text{background-color:#330099}
treechildren::-moz-tree-cell-text(lc-FFCCFF){color:#FFCCFF}
treechildren::-moz-tree-row(lc-FFCCFF,selected,focus),.blc-FFCCFF,.lc-FFCCFF>.menu-iconic-text{background-color:#FFCCFF}
treechildren::-moz-tree-cell-text(lc-FF99FF){color:#FF99FF}
treechildren::-moz-tree-row(lc-FF99FF,selected,focus),.blc-FF99FF,.lc-FF99FF>.menu-iconic-text{background-color:#FF99FF}
treechildren::-moz-tree-cell-text(lc-CC66CC){color:#CC66CC}
treechildren::-moz-tree-row(lc-CC66CC,selected,focus),.blc-CC66CC,.lc-CC66CC>.menu-iconic-text{background-color:#CC66CC}
treechildren::-moz-tree-cell-text(lc-CC33CC){color:#CC33CC}
treechildren::-moz-tree-row(lc-CC33CC,selected,focus),.blc-CC33CC,.lc-CC33CC>.menu-iconic-text{background-color:#CC33CC}
treechildren::-moz-tree-cell-text(lc-993399){color:#993399}
treechildren::-moz-tree-row(lc-993399,selected,focus),.blc-993399,.lc-993399>.menu-iconic-text{background-color:#993399}
treechildren::-moz-tree-cell-text(lc-663366){color:#663366}
treechildren::-moz-tree-row(lc-663366,selected,focus),.blc-663366,.lc-663366>.menu-iconic-text{background-color:#663366}
treechildren::-moz-tree-cell-text(lc-330033){color:#330033}
treechildren::-moz-tree-row(lc-330033,selected,focus),.blc-330033,.lc-330033>.menu-iconic-text{background-color:#330033}

treechildren::-moz-tree-cell-text(lc-white,selected,focus){color:white!important}
treechildren::-moz-tree-cell-text(lc-black,selected,focus),.blc-black,.lc-black{color:black!important}
