#sizeCol,
#unreadCol,
#totalCol{
	text-align:right}

/* :::::thread decoration :::::*/

treechildren::-moz-tree-cell-text(dummy),
treechildren::-moz-tree-cell-text(unread){font-weight:bold}
treechildren::-moz-tree-cell-text(imapdeleted){text-decoration:line-through}
treechildren::-moz-tree-cell-text(read),
treechildren::-moz-tree-cell-text(offline){font-style:normal}
treechildren::-moz-tree-cell-text(container,closed,hasUnread,read){text-decoration:underline}

/* ..... thread column ..... */

treecol.threadColumnHeader{
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 16px 16px 0)}
treecol.threadColumnHeader[sortDirection="ascending"]{-moz-image-region:rect(16px 16px 32px 0)}
treecol.threadColumnHeader[sortDirection="descending"]{-moz-image-region:rect(16px 16px 32px 0)}

treechildren::-moz-tree-image(threadCol,container){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(16px 16px 32px 0)}
treechildren::-moz-tree-image(threadCol,container,hasUnread){
	-moz-image-region:rect(32px 16px 48px 0)}
treechildren::-moz-tree-image(threadCol,watch){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 128px 16px 112px)}
treechildren::-moz-tree-image(threadCol,hasUnread,watch){
	-moz-image-region:rect(16px 128px 32px 112px)}
treechildren::-moz-tree-image(threadCol,ignore),
treechildren::-moz-tree-image(threadCol,ignoreSubthread){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 144px 16px 128px)}
treechildren::-moz-tree-image(threadCol,hasUnread,ignore),
treechildren::-moz-tree-image(threadCol,hasUnread,ignoreSubthread){
	-moz-image-region:rect(16px 144px 32px 128px)}

treecol.readColumnHeader,
treechildren::-moz-tree-image(unreadButtonColHeader,unread){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 160px 16px 144px)}

treecol.flagColumnHeader,
treechildren::-moz-tree-image(flaggedCol,flagged){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 32px 16px 16px)}

treecol.attachmentColumnHeader,
treechildren::-moz-tree-image(attachmentCol,attach){
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(16px 32px 32px 16px)}

treecol.junkStatusHeader,
treechildren::-moz-tree-image(junkStatusCol,junk){
	list-style-image:url(chrome://messenger/skin/primaryToolbar.png);
	-moz-image-region:rect(0 144px 16px 128px)}
treechildren::-moz-tree-image(junkStatusCol,notjunk){
	list-style-image:url(chrome://messenger/skin/primaryToolbar.png);
	-moz-image-region:rect(0 160px 16px 144px)}

treechildren::-moz-tree-image(subjectCol){
	-moz-margin-end:2px;
	list-style-image:url(chrome://messenger/skin/threadPane2.png);
	-moz-image-region:rect(0 64px 16px 48px)}
treechildren::-moz-tree-image(subjectCol,dummy){list-style-image:none}
treechildren::-moz-tree-image(subjectCol,read){-moz-image-region:rect(0 64px 16px 48px)}
treechildren::-moz-tree-image(subjectCol,new){-moz-image-region:rect(16px 64px 32px 48px)}
treechildren::-moz-tree-image(subjectCol,forwarded){-moz-image-region:rect(16px 96px 32px 80px)}
treechildren::-moz-tree-image(subjectCol,forwarded,read){-moz-image-region:rect(0 96px 16px 80px)}
treechildren::-moz-tree-image(subjectCol,replied){-moz-image-region:rect(16px 80px 32px 64px)}
treechildren::-moz-tree-image(subjectCol,replied,read){-moz-image-region:rect(0 80px 16px 64px)}
treechildren::-moz-tree-image(subjectCol,replied,forwarded){-moz-image-region:rect(16px 112px 32px 96px)}
treechildren::-moz-tree-image(subjectCol,replied,forwarded,read){-moz-image-region:rect(0 112px 16px 96px)}
treechildren::-moz-tree-image(subjectCol,imapdeleted){-moz-image-region:rect(32px 48px 48px 32px)}

treechildren::-moz-tree-image(subjectCol,news){-moz-image-region:rect(32px 64px 48px 48px)}
treechildren::-moz-tree-image(subjectCol,news,forwarded){-moz-image-region:rect(32px 96px 48px 80px)}
treechildren::-moz-tree-image(subjectCol,news,replied){-moz-image-region:rect(32px 80px 48px 64px)}
treechildren::-moz-tree-image(subjectCol,news,replied,forwarded){-moz-image-region:rect(32px 112px 48px 96px)}
treechildren::-moz-tree-image(subjectCol,news,new){-moz-image-region:rect(32px 128px 48px 112px)}

